.slide .overlap-wrapper {
    position: absolute;
    width: 1632px;
    height: 75px;
    top: 264px;
    left: 1px;
  }
  
  .slide .overlap-4 {
    position: relative;
    width: 1620px;
    height: 75px;
  }
  
  .slide .text-wrapper-18 {
    position: absolute;
    width: 211px;
    margin-top: 26px;
    top: 0;
    left: 1406px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-19 {
    width: 75px;
    margin-top: 26px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-20 {
    position: absolute;
    width: 449px;
    margin-top: 26px;
    top: 0;
    left: 234px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-21 {
    left: 1172px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-22 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    left: 937px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-23 {
    left: 703px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-group-wrapper {
    position: absolute;
    width: 1632px;
    height: 75px;
    top: 339px;
    left: 1px;
  }
  
  .slide .div-wrapper {
    position: absolute;
    width: 1632px;
    height: 79px;
    top: 414px;
    left: 0;
  }
  
  .slide .overlap-5 {
    position: relative;
    width: 1620px;
    height: 79px;
  }
  
  .slide .overlap-6 {
    position: absolute;
    width: 1620px;
    height: 75px;
    top: 0;
    left: 0;
  }
  
  .slide .text-wrapper-24 {
    width: 211px;
    margin-top: 26px;
    top: 0;
    left: 1407px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-25 {
    position: absolute;
    width: 449px;
    margin-top: 26px;
    top: 0;
    left: 235px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-26 {
    left: 1173px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-27 {
    top: 0;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    left: 938px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-28 {
    left: 704px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-29 {
    width: 75px;
    margin-top: 26px;
    top: 4px;
    left: 1px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .group-2 {
    position: absolute;
    width: 1632px;
    height: 75px;
    top: 489px;
    left: 1px;
  }
  
  .slide .timeline {
    position: relative;
    width: 1623px;
    height: 797px;
  }