.slide .overlap-group {
    position: relative;
    width: 1618px;
    height: 100px;
  }
  
  .slide .text-wrapper-9 {
    position: absolute;
    width: 211px;
    margin-top: 26px;
    top: 12px;
    left: 1405px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-group-2 {
    height: 100px;
    position: absolute;
    width: 1618px;
    top: 0;
    left: 0;
  }
  
  .slide .text-wrapper-10 {
    width: 75px;
    margin-top: 40px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .rectangle-2 {
    position: absolute;
    width: 1618px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-11 {
    position: absolute;
    width: 449px;
    margin-top: 26px;
    top: 12px;
    left: 234px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .picture {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 76px;
    background-color: #ffffff;
  }
  
  .slide .text-wrapper-12 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 12px;
    left: 937px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-13 {
    top: 12px;
    left: 1171px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-wrapper {
    position: absolute;
    width: 1628px;
    height: 75px;
    top: 264px;
    left: 3px;
  }
  
  .slide .overlap-2 {
    position: relative;
    width: 1618px;
    height: 75px;
  }
  
  .slide .overlap-3 {
    height: 75px;
    position: absolute;
    width: 1618px;
    top: 0;
    left: 0;
  }
 
  .slide .overlap-5 {
    position: relative;
    width: 1619px;
    height: 75px;
  }
  
  .slide .overlap-6 {
    position: absolute;
    width: 1619px;
    height: 75px;
    top: 0;
    left: 0;
  }
  
  .slide .footer {
    position: relative;
    width: 1900px;
    height: 300px;
    margin-right: -4px;
  }
  
  .slide .overlap-7 {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #000000;
  }
  
  .slide .text-wrapper-24 {
    position: absolute;
    width: 165px;
    top: 48px;
    left: 147px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: normal;
  }
  
  .slide .footer-2 {
    display: flex;
    width: 623px;
    align-items: flex-start;
    gap: 70px;
    position: absolute;
    top: 59px;
    left: 1209px;
  }
  
  .slide .rectangle-3 {
    position: absolute;
    width: 1620px;
    height: 1px;
    top: 150px;
    left: 150px;
    background-color: #d9d9d9;
  }
  
  .slide .social {
    position: absolute;
    width: 420px;
    height: 60px;
    top: 191px;
    left: 1350px;
  }
  
  .slide .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    position: relative;
  }
  
  .slide .img {
    position: relative;
    width: 60px;
    height: 60px;
  }
  
  .slide .p {
    position: absolute;
    top: 216px;
    left: 150px;
    opacity: 0.6;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }