.slide .text-wrapper-19 {
    position: absolute;
    width: 194px;
    top: 20px;
    left: 469px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-20 {
    position: absolute;
    width: 288px;
    top: 19px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-21 {
    position: absolute;
    width: 181px;
    top: 19px;
    left: 288px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-22 {
    position: absolute;
    width: 257px;
    margin-top: 26px;
    top: 65px;
    left: 31px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-23 {
    position: absolute;
    width: 181px;
    margin-top: 26px;
    top: 65px;
    left: 288px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-24 {
    top: 142px;
    position: absolute;
    width: 181px;
    margin-top: 26px;
    left: 288px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-25 {
    top: 217px;
    position: absolute;
    width: 181px;
    margin-top: 26px;
    left: 288px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-26 {
    position: absolute;
    width: 194px;
    margin-top: 26px;
    top: 66px;
    left: 469px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-27 {
    position: absolute;
    width: 194px;
    margin-top: 26px;
    top: 140px;
    left: 469px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-28 {
    position: absolute;
    width: 194px;
    margin-top: 26px;
    top: 216px;
    left: 469px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .slide .rectangle-2 {
    position: absolute;
    width: 1620px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-9 {
    position: absolute;
    width: 449px;
    margin-top: 26px;
    top: 12px;
    left: 234px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-10 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 12px;
    left: 938px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-11 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 12px;
    left: 1172px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }