@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #17202A;
  color: #eee;
}

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #17202A;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  border:none;
  background: transparent;
}

.navbar a{
  color:#17202a;
}

.slide {
  background-color: #17202a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide .div {
  background-color: #17202a;
  width: 100%;
  height: 3845px;
  position: relative;
}

.slide .overlap {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 481px;
  left: 0;
  background-color: #ffffff;
}

.slide .navbar {
  display: flex;
  width: 1000px;
  align-items: flex-start;
  gap: 72px;
  position: relative;
  top: 15px;
  left: 150px;
}

.slide .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #17202a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -174px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #17202a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .group {
  position: absolute;
  width: 1687px;
  height: 53px;
  top: 34px;
  left: 147px;
}

.slide .text-wrapper-3 {
  position: absolute;
  width: 165px;
  top: 0;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: normal;
}

.slide .navbar-2 {
  display: flex;
  width: 623px;
  align-items: flex-start;
  gap: 70px;
  position: absolute;
  top: 11px;
  left: 1062px;
}

.slide .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .bersicht {
  position: absolute;
  width: 1621px;
  height: 258px;
  top: 155px;
  left: 150px;
}

.slide .text-wrapper-5 {
  position: absolute;
  width: 1330px;
  height: 100px;
  top: 129px;
  left: 287px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 90px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide .text-wrapper-6 {
  position: absolute;
  width: 636px;
  height: 30px;
  top: 99px;
  left: 287px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #1565C0;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide .overlap-group {
  position: absolute;
  width: 258px;
  height: 258px;
  top: 0;
  left: 0;
  background-color: #a3c9f4;
  border-radius: 129px;
}

.slide .programming {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 79px;
  left: 79px;
}

.slide .frame {
  display: flex;
  flex-direction: column;
  width: 1px;
  align-items: center;
  gap: 100px;
  position: absolute;
  top: 590px;
  left: 960px;
}

.slide .profs-dozenten {
  position: relative;
  width: 1628.75px;
  height: 264px;
  margin-left: -810.37px;
  margin-right: -817.38px;
}

.slide .overlap-2 {
  position: relative;
  width: 1630px;
  height: 264px;
}

.slide .rectangle {
  position: absolute;
  width: 1620px;
  height: 166px;
  top: 98px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 25px;
}

.slide .overlap-wrapper {
  position: absolute;
  width: 1630px;
  height: 100px;
  top: 164px;
  left: 0;
}

.slide .overlap-3 {
  position: relative;
  width: 1620px;
  height: 100px;
}

.slide .text-wrapper-7 {
  width: 211px;
  margin-top: 26px;
  top: 12px;
  left: 1406px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #17202a;
  font-size: 20px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide .overlap-group-2 {
  position: absolute;
  width: 1620px;
  height: 100px;
  top: 0;
  left: 0;
}

.slide .text-wrapper-8 {
  margin-top: 26px;
  margin-left: 26px;
  height: 100px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 700;
  color: #7f7f7f;
  font-size: 24px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide .rectangle-2 {
  position: absolute;
  width: 1620px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #7f7f7f;
}

.slide .text-wrapper-9 {
  position: absolute;
  width: 449px;
  margin-top: 26px;
  top: 12px;
  left: 234px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #17202a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-10 {
  position: absolute;
  width: 214px;
  margin-top: 26px;
  top: 12px;
  left: 938px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-11 {
  position: absolute;
  width: 214px;
  margin-top: 26px;
  top: 12px;
  left: 1172px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}