.slide .text-wrapper-12 {
    position: absolute;
    width: 215px;
    top: 119px;
    left: 937px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-13 {
    position: absolute;
    width: 214px;
    top: 119px;
    left: 1172px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-14 {
    position: absolute;
    width: 214px;
    top: 119px;
    left: 1406px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-15 {
    position: absolute;
    width: 636px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #1565C0;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .basic-facts {
    position: relative;
    width: 1660px;
    height: 399px;
    margin-left: -811px;
    margin-right: -848px;
  }
  
  .slide .overlap-4 {
    position: absolute;
    width: 703px;
    height: 285px;
    top: 104px;
    left: 0;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .slide .overlap-5 {
    width: 321px;
    top: 20px;
    position: absolute;
    height: 75px;
    left: 30px;
  }
  
  .slide .rectangle-3 {
    position: absolute;
    width: 201px;
    height: 1px;
    top: 37px;
    left: 120px;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-16 {
    margin-top: 26px;
    width: 321px;
    margin-top: 26px;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-6 {
    width: 643px;
    top: 95px;
    position: absolute;
    height: 75px;
    left: 30px;
  }
  
  .slide .rectangle-4 {
    position: absolute;
    width: 469px;
    height: 1px;
    top: 37px;
    left: 129px;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-17 {
    position: absolute;
    width: 321px;
    margin-top: 26px;
    top: 0;
    left: 322px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-group-3 {
    position: absolute;
    width: 643px;
    height: 75px;
    top: 170px;
    left: 30px;
  }
  
  .slide .rectangle-5 {
    position: absolute;
    width: 212px;
    height: 1px;
    top: 37px;
    left: 124px;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-18 {
    position: absolute;
    width: 321px;
    margin-top: 26px;
    top: 20px;
    left: 352px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-7 {
    position: absolute;
    width: 705px;
    height: 295px;
    top: 104px;
    left: 917px;
  }
  
  .slide .rectangle-6 {
    position: absolute;
    width: 703px;
    height: 295px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .slide .text-wrapper-19 {
    position: absolute;
    width: 194px;
    top: 20px;
    left: 469px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-20 {
    position: absolute;
    width: 288px;
    top: 19px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-21 {
    position: absolute;
    width: 181px;
    top: 19px;
    left: 288px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-22 {
    position: absolute;
    width: 257px;
    margin-top: 26px;
    top: 65px;
    left: 31px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-23 {
    position: absolute;
    width: 181px;
    margin-top: 26px;
    top: 65px;
    left: 288px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-24 {
    top: 142px;
    position: absolute;
    width: 181px;
    margin-top: 26px;
    left: 288px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-25 {
    top: 217px;
    position: absolute;
    width: 181px;
    margin-top: 26px;
    left: 288px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-26 {
    position: absolute;
    width: 194px;
    margin-top: 26px;
    top: 66px;
    left: 469px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-27 {
    position: absolute;
    width: 194px;
    margin-top: 26px;
    top: 140px;
    left: 469px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-28 {
    position: absolute;
    width: 194px;
    margin-top: 26px;
    top: 216px;
    left: 469px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }