@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #17202A;
  color: #eee;
}

a{
  color: white;
  text-decoration: none;
}

button{
  cursor: pointer;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #17202A;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  border:none;
  background: transparent;
}

.slide {
    background-color: #17202a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .slide .div {
    background-color: #17202A;
    width: 100%;
    height: 2300px;
    position: relative;
  }
  
  .slide .text-wrapper {
    position: absolute;
    width: 165px;
    top: 33px;
    left: 147px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: normal;
  }
  
  .slide .navbar {
    display: flex;
    width: 623px;
    align-items: flex-start;
    gap: 70px;
    position: absolute;
    top: 45px;
    left: 1209px;
  }
  
  .slide .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 207px;
    left: 0;
  }
  
  .slide .kurse {
    position: relative;
    width: 1635px;
    height: 1693px;
  }
  
  .slide .overlap {
    position: relative;
    width: 1632px;
    height: 1693px;
  }
  
  .slide .rectangle {
    position: absolute;
    width: 1618px;
    height: 1595px;
    top: 98px;
    left: 4px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .slide .text-wrapper-3 {
    position: absolute;
    width: 215px;
    top: 119px;
    left: 940px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-4 {
    position: absolute;
    width: 75px;
    top: 119px;
    left: 4px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-5 {
    position: absolute;
    width: 214px;
    top: 119px;
    left: 1175px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-6 {
    position: absolute;
    width: 215px;
    top: 119px;
    left: 238px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-7 {
    position: absolute;
    width: 214px;
    top: 119px;
    left: 1409px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-8 {
    position: absolute;
    width: 636px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #1565C0;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .group {
    height: 100px;
    top: 164px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .overlap-group {
    position: relative;
    width: 1618px;
    height: 100px;
  }
  
  .slide .text-wrapper-9 {
    position: absolute;
    width: 211px;
    margin-top: 26px;
    top: 12px;
    left: 1404px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-group-2 {
    height: 100px;
    position: absolute;
    width: 1618px;
    top: 0;
    left: 0;
  }
  
  .slide .text-wrapper-10 {
    width: 75px;
    margin-top: 40px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .rectangle-2 {
    position: absolute;
    width: 1618px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-11 {
    position: absolute;
    width: 448px;
    margin-top: 26px;
    top: 12px;
    left: 234px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .picture {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 76px;
    background-color: #ffffff;
  }
  
  .slide .text-wrapper-12 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 12px;
    left: 937px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-13 {
    top: 12px;
    left: 1171px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-wrapper {
    height: 75px;
    top: 264px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .overlap-2 {
    position: relative;
    width: 1618px;
    height: 75px;
  }
  
  .slide .overlap-3 {
    height: 75px;
    position: absolute;
    width: 1618px;
    top: 0;
    left: 0;
  }
  
  .slide .text-wrapper-14 {
    position: absolute;
    width: 211px;
    margin-top: 26px;
    top: 0;
    left: 1404px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-15 {
    width: 75px;
    margin-top: 26px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-16 {
    position: absolute;
    width: 448px;
    margin-top: 26px;
    top: 0;
    left: 234px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-17 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    left: 1171px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-18 {
    left: 936px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .picture-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 7px;
    left: 76px;
    background-color: #ffffff;
  }
  
  .slide .overlap-group-wrapper {
    height: 75px;
    top: 339px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .div-wrapper {
    height: 79px;
    top: 414px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .overlap-4 {
    position: relative;
    width: 1618px;
    height: 79px;
  }
  
  .slide .text-wrapper-19 {
    width: 211px;
    margin-top: 26px;
    top: 0;
    left: 1405px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-20 {
    position: absolute;
    width: 448px;
    margin-top: 26px;
    top: 0;
    left: 235px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-21 {
    top: 0;
    left: 1172px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-22 {
    left: 937px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-23 {
    width: 75px;
    margin-top: 26px;
    top: 4px;
    left: 1px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .group-2 {
    height: 75px;
    top: 493px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-3 {
    height: 75px;
    top: 568px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-4 {
    height: 75px;
    top: 643px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-5 {
    height: 75px;
    top: 718px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-6 {
    height: 75px;
    top: 793px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-7 {
    height: 75px;
    top: 868px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-8 {
    height: 75px;
    top: 943px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-9 {
    height: 75px;
    top: 1018px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-10 {
    height: 75px;
    top: 1093px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-11 {
    height: 75px;
    top: 1168px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-12 {
    height: 75px;
    top: 1243px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-13 {
    height: 75px;
    top: 1318px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-14 {
    height: 75px;
    top: 1393px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-15 {
    height: 75px;
    top: 1468px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-16 {
    height: 75px;
    top: 1543px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .group-17 {
    height: 75px;
    top: 1618px;
    position: absolute;
    width: 1628px;
    left: 4px;
  }
  
  .slide .footer {
    position: relative;
    width: 1900px;
    height: 300px;
    margin-right: -4px;
  }
  
  .slide .overlap-5 {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #000000;
  }
  
  .slide .text-wrapper-24 {
    position: absolute;
    width: 165px;
    top: 48px;
    left: 147px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: normal;
  }
  
  .slide .footer-2 {
    display: flex;
    width: 623px;
    align-items: flex-start;
    gap: 70px;
    position: absolute;
    top: 59px;
    left: 1209px;
  }
  
  .slide .rectangle-3 {
    position: absolute;
    width: 1620px;
    height: 1px;
    top: 150px;
    left: 150px;
    background-color: #d9d9d9;
  }
  
  .slide .social {
    position: absolute;
    width: 420px;
    height: 60px;
    top: 191px;
    left: 1350px;
  }
  
  .slide .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    position: relative;
  }
  
  .slide .img {
    position: relative;
    width: 60px;
    height: 60px;
  }
  
  .slide .p {
    position: absolute;
    top: 216px;
    left: 150px;
    opacity: 0.6;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  