@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #17202A;
  color: #eee;
}

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar a{
  color:#17202a;
}

button{
  cursor: pointer;
  font-family: "Ubuntu", Helvetica;
  font-weight: 500;
  color: #17202A;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  border:none;
  background: transparent;
}

.slide {
    background-color: #17202a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .slide .div {
    background-color: #17202A;
    width: 100%;
    height: 3564px;
    position: relative;
  }
  
  .slide .text-wrapper {
    position: absolute;
    width: 165px;
    top: 33px;
    left: 147px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: normal;
  }
  
  .slide .overlap {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 481px;
    left: 0;
    background-color: #ffffff;
  }
  
  .slide .navbar {
    display: flex;
    width: 636px;
    align-items: flex-start;
    gap: 72px;
    position: relative;
    top: 15px;
    left: 150px;
  }
  
  .slide .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-right: -181px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .navbar-2 {
    display: flex;
    width: 623px;
    align-items: flex-start;
    gap: 70px;
    position: absolute;
    top: 45px;
    left: 1209px;
  }
  
  .slide .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .bersicht {
    position: absolute;
    width: 927px;
    height: 258px;
    top: 155px;
    left: 150px;
  }
  
  .slide .overlap-group {
    position: absolute;
    width: 258px;
    height: 258px;
    top: 0;
    left: 0;
    background-color: #a3c9f4;
    border-radius: 129px;
  }
  
  .slide .mask-group {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 4px;
    left: 4px;
    overflow:hidden;
    border-radius: 50%;
  }
  
  .slide .text-wrapper-5 {
    position: absolute;
    width: 636px;
    height: 100px;
    top: 129px;
    left: 287px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 90px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide .text-wrapper-6 {
    position: absolute;
    width: 636px;
    height: 30px;
    top: 99px;
    left: 287px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #1565C0;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .slide .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 590px;
    left: 0;
  }
  
  .slide .kurse {
    position: relative;
    width: 1631px;
    height: 564px;
  }
  
  .slide .overlap-2 {
    position: relative;
    width: 1633px;
    height: 564px;
  }
  
  .slide .rectangle {
    position: absolute;
    width: 1620px;
    height: 465px;
    top: 98px;
    left: 1px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .slide .text-wrapper-7 {
    position: absolute;
    width: 214px;
    top: 119px;
    left: 704px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-8 {
    position: absolute;
    width: 215px;
    top: 119px;
    left: 938px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-9 {
    position: absolute;
    width: 214px;
    top: 119px;
    left: 1173px;
    color: #17202A;
    text-align: center;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-10 {
    position: absolute;
    width: 214px;
    top: 119px;
    left: 1407px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-11 {
    position: absolute;
    width: 636px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #1565C0;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .group {
    position: absolute;
    width: 1632px;
    height: 100px;
    top: 164px;
    left: 1px;
  }
  
  .slide .overlap-3 {
    position: relative;
    width: 1620px;
    height: 100px;
  }
  
  .slide .text-wrapper-12 {
    position: absolute;
    width: 211px;
    margin-top: 26px;
    top: 12px;
    left: 1406px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-group-2 {
    position: absolute;
    width: 1620px;
    height: 100px;
    top: 0;
    left: 0;
  }
  
  .slide .text-wrapper-13 {
    width: 75px;
    margin-top: 40px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .rectangle-2 {
    position: absolute;
    width: 1620px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-14 {
    position: absolute;
    width: 449px;
    margin-top: 26px;
    top: 12px;
    left: 234px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-15 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 12px;
    left: 703px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-16 {
    top: 12px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    left: 938px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-17 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 12px;
    left: 1172px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-wrapper {
    position: absolute;
    width: 1632px;
    height: 75px;
    top: 264px;
    left: 1px;
  }
  
  .slide .overlap-4 {
    position: relative;
    width: 1620px;
    height: 75px;
  }
  
  .slide .text-wrapper-18 {
    position: absolute;
    width: 211px;
    margin-top: 26px;
    top: 0;
    left: 1406px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-19 {
    width: 75px;
    margin-top: 26px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-20 {
    position: absolute;
    width: 449px;
    margin-top: 26px;
    top: 0;
    left: 234px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-21 {
    left: 1172px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-22 {
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    left: 937px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-23 {
    left: 703px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-group-wrapper {
    position: absolute;
    width: 1632px;
    height: 75px;
    top: 339px;
    left: 1px;
  }
  
  .slide .div-wrapper {
    position: absolute;
    width: 1632px;
    height: 79px;
    top: 414px;
    left: 0;
  }
  
  .slide .overlap-5 {
    position: relative;
    width: 1620px;
    height: 79px;
  }
  
  .slide .overlap-6 {
    position: absolute;
    width: 1620px;
    height: 75px;
    top: 0;
    left: 0;
  }
  
  .slide .text-wrapper-24 {
    width: 211px;
    margin-top: 26px;
    top: 0;
    left: 1407px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-25 {
    position: absolute;
    width: 449px;
    margin-top: 26px;
    top: 0;
    left: 235px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #17202A;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-26 {
    left: 1173px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-27 {
    top: 0;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    left: 938px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-28 {
    left: 704px;
    position: absolute;
    width: 214px;
    margin-top: 26px;
    top: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-29 {
    width: 75px;
    margin-top: 26px;
    top: 4px;
    left: 1px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #7f7f7f;
    font-size: 24px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .group-2 {
    position: absolute;
    width: 1632px;
    height: 75px;
    top: 489px;
    left: 1px;
  }
  
  .slide .timeline {
    position: relative;
    width: 1623px;
    height: 797px;
  }
  
  .slide .overlap-7 {
    position: absolute;
    width: 724px;
    height: 322px;
    top: 0;
    left: 2px;
  }
  
  .slide .group-3 {
    position: absolute;
    width: 493px;
    height: 238px;
    top: 84px;
    left: 231px;
  }
  
  .slide .overlap-8 {
    position: relative;
    width: 487px;
    height: 238px;
  }
  
  .slide .rectangle-3 {
    position: absolute;
    width: 468px;
    height: 275px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .slide .text-wrapper-30 {
    position: absolute;
    width: 224px;
    height: 40px;
    top: 8px;
    left: 223px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #1565C0;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .vector {
    top: 18px;
    left: 458px;
    position: absolute;
    width: 29px;
    height: 47px;
  }
  
  .slide .p {
    position: absolute;
    width: 429px;
    top: 40px;
    left: 20px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .line {
    position: absolute;
    width: 40px;
    height: 514px;
    top: 104px;
    left: 788px;
  }
  
  .slide .overlap-9 {
    position: relative;
    height: 514px;
  }
  
  .slide .overlap-group-3 {
    position: absolute;
    width: 40px;
    height: 490px;
    top: 14px;
    left: 0;
  }
  
  .slide .rectangle-4 {
    position: absolute;
    width: 490px;
    height: 10px;
    top: 240px;
    left: -225px;
    background-color: #808080;
    border-radius: 5px;
    transform: rotate(-90deg);
  }
  
  .slide .filled-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 224px;
    left: 0;
  }
  
  .slide .img {
    top: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
  }
  
  .slide .filled-circle-2 {
    top: 474px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
  }
  
  .slide .group-4 {
    position: absolute;
    width: 493px;
    height: 238px;
    top: 559px;
    left: 232px;
  }
  
  .slide .text-wrapper-31 {
    position: absolute;
    width: 223px;
    height: 40px;
    top: 8px;
    left: 224px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #1565C0;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .vector-2 {
    top: 17px;
    left: 458px;
    position: absolute;
    width: 29px;
    height: 47px;
  }
  
  .slide .group-5 {
    position: absolute;
    width: 493px;
    height: 238px;
    top: 322px;
    left: 895px;
  }
  
  .slide .overlap-10 {
    position: relative;
    width: 487px;
    height: 238px;
    left: 2px;
  }
  
  .slide .rectangle-5 {
    position: absolute;
    width: 468px;
    height: 275px;
    top: 0;
    left: 19px;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .slide .text-wrapper-32 {
    position: absolute;
    width: 223px;
    height: 40px;
    top: 8px;
    left: 41px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #1565C0;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .vector-3 {
    top: 17px;
    left: 0;
    position: absolute;
    width: 29px;
    height: 47px;
  }
  
  .slide .text-wrapper-33 {
    position: absolute;
    width: 429px;
    top: 40px;
    left: 38px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .bewertung {
    position: relative;
    width: 1624.12px;
    height: 458px;
  }
  
  .slide .durchschnitt {
    position: absolute;
    width: 955px;
    height: 340px;
    top: 118px;
    left: 337px;
  }
  
  .slide .overlap-group-4 {
    position: relative;
    width: 947px;
    height: 340px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .slide .overlap-11 {
    position: absolute;
    width: 683px;
    height: 75px;
    top: 20px;
    left: 30px;
  }
  
  .slide .rectangle-6 {
    position: absolute;
    width: 547px;
    height: 1px;
    top: 37px;
    left: 136px;
    background-color: #7f7f7f;
  }
  
  .slide .text-wrapper-34 {
    position: absolute;
    width: 321px;
    margin-top: 26px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-12 {
    position: absolute;
    width: 683px;
    height: 75px;
    top: 95px;
    left: 30px;
  }
  
  .slide .rectangle-7 {
    position: absolute;
    width: 551px;
    height: 1px;
    top: 37px;
    left: 132px;
    background-color: #7f7f7f;
  }
  
  .slide .overlap-13 {
    position: absolute;
    width: 683px;
    height: 75px;
    top: 170px;
    left: 30px;
  }
  
  .slide .rectangle-8 {
    position: absolute;
    width: 515px;
    height: 1px;
    top: 37px;
    left: 168px;
    background-color: #7f7f7f;
  }
  
  .slide .overlap-14 {
    position: absolute;
    width: 683px;
    height: 75px;
    top: 245px;
    left: 30px;
  }
  
  .slide .rectangle-9 {
    position: absolute;
    width: 539px;
    height: 1px;
    top: 37px;
    left: 144px;
    background-color: #7f7f7f;
  }
  
  .slide .rectangle-10 {
    position: absolute;
    width: 200px;
    height: 75px;
    top: 19px;
    left: 724px;
    background-color: #ffffff03;
  }
  
  .slide .rectangle-11 {
    position: absolute;
    width: 200px;
    height: 75px;
    top: 94px;
    left: 724px;
    background-color: #ffffff03;
  }
  
  .slide .rectangle-12 {
    position: absolute;
    width: 200px;
    height: 75px;
    top: 169px;
    left: 724px;
    background-color: #ffffff03;
  }
  
  .slide .rectangle-13 {
    position: absolute;
    width: 200px;
    height: 75px;
    top: 244px;
    left: 724px;
    background-color: #ffffff03;
  }
  
  .slide .fr-dich {
    position: relative;
    width: 1622px;
    height: 455px;
  }
  
  .slide .fr-dich-prof {
    left: 0;
    position: absolute;
    width: 280px;
    height: 333px;
    top: 122px;
  }
  
  .slide .overlap-group-5 {
    position: relative;
    width: 276px;
    height: 333px;
    background-color: #d9d9d9;
    border-radius: 30px;
  }
  
  .slide .text-wrapper-35 {
    position: absolute;
    width: 235px;
    height: 20px;
    top: 258px;
    left: 19px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #808080;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-36 {
    position: absolute;
    width: 235px;
    height: 30px;
    top: 278px;
    left: 19px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .mask-group-wrapper {
    position: absolute;
    width: 235px;
    height: 235px;
    top: 19px;
    left: 19px;
    background-size: 100% 100%;
  }
  
  .slide .mask-group-2 {
    position: absolute;
    width: 227px;
    height: 227px;
    top: 4px;
    left: 4px;
    overflow:hidden;
    border-radius: 50%;
  }
  
  .slide .fr-dich-prof-2 {
    left: 336px;
    position: absolute;
    width: 280px;
    height: 333px;
    top: 122px;
  }
  
  .slide .img-wrapper {
    position: absolute;
    width: 235px;
    height: 235px;
    top: 19px;
    left: 19px;
    background-color: #a3c9f4;
    border-radius: 117.5px;
  }
  
  .slide .fr-dich-prof-3 {
    left: 672px;
    position: absolute;
    width: 280px;
    height: 333px;
    top: 122px;
  }
  
  .slide .fr-dich-prof-4 {
    left: 1008px;
    position: absolute;
    width: 280px;
    height: 333px;
    top: 122px;
  }
  
  .slide .fr-dich-prof-5 {
    left: 1344px;
    position: absolute;
    width: 280px;
    height: 333px;
    top: 122px;
  }
  
  .slide .footer {
    position: relative;
    width: 1900px;
    height: 300px;
    margin-right: -4px;
  }
  
  .slide .overlap-15 {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #000000;
  }
  
  .slide .text-wrapper-37 {
    position: absolute;
    width: 165px;
    top: 48px;
    left: 147px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: normal;
  }
  
  .slide .footer-2 {
    display: flex;
    width: 623px;
    align-items: flex-start;
    gap: 70px;
    position: absolute;
    top: 59px;
    left: 1209px;
  }
  
  .slide .rectangle-14 {
    position: absolute;
    width: 1620px;
    height: 1px;
    top: 150px;
    left: 150px;
    background-color: #d9d9d9;
  }
  
  .slide .social {
    position: absolute;
    width: 420px;
    height: 60px;
    top: 191px;
    left: 1350px;
  }
  
  .slide .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    position: relative;
  }
  
  .slide .img-2 {
    position: relative;
    width: 60px;
    height: 60px;
  }
  
  .slide .text-wrapper-38 {
    position: absolute;
    top: 216px;
    left: 150px;
    opacity: 0.6;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }

  .slide .text-wrapper-50 {
    width: 321px;
    margin-top:20px;
    margin-left: 720px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-51 {
    width: 321px;
    margin-top:20px;
    margin-left: 720px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-52 {
    width: 321px;
    margin-top:20px;
    margin-left: 720px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-53 {
    width: 321px;
    margin-top:20px;
    margin-left: 720px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .starbox{
    height: 30px;
    width: 145px;
  }